.home-events-swiper {
  &__item {
    height: 562px !important;
    position: relative;
    width: 100% !important;

    @media (min-width: 992px) {
      height: 562px !important;
      width: 864px !important;
    }
  }

  &__wrapper {
    display: grid;
    height: 100%;
    width: 100%;

    @media (min-width: 576px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__inner {
    align-items: center;
    background: var(--bg-two);
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  &__content {
    max-width: 320px;
    width: 100%;

    h3 {
      font-size: 36px;
      margin-bottom: 30px;

      @media (min-width: 576px) {
        font-size: 60px;
      }
    }

    p {
      margin-bottom: 60px;
    }
  }

  &__image {
    position: relative;

    @media (max-width: 575px) {
      display: none;
    }

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }
}
