.home-main {
  background: var(--bg-one);
  padding: 15px;

  @media (min-width: 576px) {
    padding: 32px 30px;
  }

  &__content {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/resources/images/home/main-bg.jpg');
    background-size: cover;
    border-radius: 10px;
  }

  &__container {
    padding-bottom: 96px;
    padding-top: 170px;
  }

  &__intro {
    margin-left: auto;
    margin-right: auto;
    max-width: 695px;
  }

  &__title {
    line-height: 60px;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__grid {
    align-items: center;
    display: grid;
    gap: 30px;
    justify-content: center;
    margin-top: 60px;

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
    }
  }

  &__information {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: flex-end;

    @media (max-width: 1199px) {
      flex-direction: column;
      gap: 30px;
      justify-content: center;
    }
  }

  &__list {
    align-items: center;
    display: flex;
    gap: 30px;

    &__link {
      align-items: center;
      color: var(--white);
      display: flex;
      font-size: 22px;
      justify-content: center;
    }
  }

  &__year {
    color: var(--white);
    font-size: 20px;
    letter-spacing: -0.05em;
    line-height: 24px;
  }
}

.home-space {
  padding-bottom: 60px;
  padding-top: 60px;

  &__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1260px;
  }

  &__grid {
    display: grid;
    gap: 30px;
    margin-bottom: 60px;
    margin-top: 60px;

    @media (max-width: 1199px) {
      padding-left: 24px;
      padding-right: 24px;
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }

    &__content {
      max-width: 695px;
      opacity: 0;
      width: 100%;

      &__title {
        line-height: 60px;
        margin-bottom: 30px;
      }
    }

    &__item {
      align-items: center;
      aspect-ratio: 189 / 134;
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      z-index: 500;

      &__image {
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -2;
      }

      &__bg {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        height: 100%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transition: all .5s;
        width: 100%;
        z-index: -1;
      }

      &:hover {
        .home-space__grid__item__bg {
          opacity: 1;
        }

        .home-space__grid__content {
          opacity: 1;
        }
      }
    }
  }
}

.home-events {
  background: var(--bg-one);
  padding-bottom: 60px;
  padding-top: 60px;

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 60px;
    max-width: 1134px;
  }

  &__carousel {
    @media (max-width: 991px) {
      padding-left: 24px;
      padding-right: 24px;
    }

    @media (min-width: 1200px) {
      padding-left: calc((100vw - 1140px) / 2);
    }

    @media (min-width: 1400px) {
      padding-left: calc((100vw - 1320px) / 2);
    }

    @media (min-width: 1600px) {
      padding-left: calc((100vw - 1520px) / 2);
    }
  }

  &__navigation {
    align-items: center;
    display: flex;
    gap: 15px;
    padding-top: 60px;

    button {
      align-items: center;
      appearance: none;
      background: none;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      color: var(--black);
      cursor: pointer;
      display: flex;
      font-size: 24px;
      height: 56px;
      justify-content: center;
      outline: 0;
      width: 56px;
    }
  }
}

.home-gallery {
  padding-bottom: 60px;
  padding-top: 60px;

  &__container {
    align-items: stretch;
    display: grid;
    gap: 30px;

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__images {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 170px);

    @media (min-width: 576px) {
      grid-template-rows: repeat(3, 277px);
    }

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;

      &:nth-child(1) {
        @media (min-width: 576px) {
          grid-row: 1 / 2;
        }
      }

      &:nth-child(2) {
        @media (min-width: 576px) {
          grid-row: 2 / 4;
        }
      }

      &:nth-child(3) {
        @media (min-width: 576px) {
          grid-row: 1 / 3;
        }
      }
    }
  }

  &__content {
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    &__wrapper {
      margin-bottom: 60px;
      max-width: 615px;

      @media (max-width: 991px) {
        margin-left: auto;
        margin-right: auto;
      }

      h2 {
        margin-bottom: 30px;

        @media (max-width: 991px) {
          text-align: center;
        }
      }

      p {
        margin-bottom: 60px;

        @media (max-width: 991px) {
          text-align: center;
        }
      }

      a {
        @media (max-width: 991px) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &__images {
      display: grid;
      flex: 1;
      gap: 30px;
      margin: 0 auto;

      @media (min-width: 576px) {
        grid-template-columns: 1fr 1fr;
      }

      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
  }
}

.home-gastronomy {
  background: var(--bg-one);
  padding-bottom: 60px;
  padding-top: 60px;

  &__container {
    display: grid;
    gap: 30px;

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__content {
    max-width: 518px;

    @media (max-width: 991px) {
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__carousel {
    align-items: center;
    display: flex;
    justify-content: center;

    &__prev {
      align-items: center;
      appearance: none;
      background: none;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      color: var(--black);
      cursor: pointer;
      display: flex;
      font-size: 24px;
      gap: 30px;
      height: 56px;
      justify-content: center;
      outline: 0;
      width: 56px;

      @media (max-width: 576px) {
        display: none;
      }
    }

    &__next {
      align-items: center;
      appearance: none;
      background: none;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      color: var(--black);
      cursor: pointer;
      display: flex;
      font-size: 24px;
      height: 56px;
      justify-content: center;
      outline: 0;
      width: 56px;

      @media (max-width: 576px) {
        display: none;
      }
    }
  }
}

.home-partners {
  padding-bottom: 60px;
  padding-top: 60px;

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__grid {
    align-items: center;
    display: grid;
    gap: 30px;
    margin-top: 60px;

    @media (min-width: 576px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__buttons {
      align-items: center;
      display: flex;
      gap: 15px;
    }
  }
}
